.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    backdrop-filter: brightness(80%);
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px 15px;
    grid-auto-flow: row;
    width: 70%;
    height: auto;
    background-color: white;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 24px;
    align-items: center;
    grid-template-areas:
        "header header header header header"
        "cpf nome nome nome status"
        "curso curso curso curso curso"
        "botoes botoes botoes botoes botoes";

}

.header {
    justify-self: end;
    margin-bottom: 2px;
    grid-area: header;
}

.curso {
    grid-area: curso;
}

.nome {
    grid-area: nome;
}

.cpf {
    grid-area: cpf;
}

.status {
    display: flex;
    justify-self: end;
    grid-area: status;
}

.botoes {
    justify-self: end;
    display: flex;
    gap: 10px;
    grid-area: botoes;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.paper {
    visibility: visible;
    transition: 0.2s;
}

.paperHide {
    visibility: hidden;
}

@media (max-width: 1024px) {
    .main {
        width: 95%;
    }
}

@media (max-width: 900px) {

    .main {
        margin-top: 5%;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header"
            "cpf nome nome"
            "status status status"
            "curso curso curso"
            "botoes botoes botoes";
    }

    .status {
        display: flex;
        justify-self: start;
        grid-area: status;
    }

}