.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/backuground_schedule_logo.jpg');
}

.login {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
    width: 600px;
    height: 400px;
    z-index: 1;
}

.formProfessor {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formStudent {
    width: 85%;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.5em;
}

.formStudent button {
    margin-top: 6.5em;
}

.login button{
    width: 100%;
}

.background {
    z-index: 0;
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--inputs-border-color);
    border-radius: 10px;
}

.passwordContainer {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.passwordReset{
    font-size: 12px;
    text-align: right;
}

.titulo {
    color: white;
    z-index: 5;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}