.containter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.buttonsContainerGrid {
    display: grid;
    height: max-content;
    gap: 15px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.buttonsContainerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .menu {
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .buttonsContainer {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

}